Brotli
accelerate
annotated-types
attrs
beautifulsoup4
certifi
charset-normalizer
click
contourpy
cycler
faiss-cpu
fastapi
filelock
google-api-core
google-auth
google-generativeai
httptools
huggingface-hub
idna
itsdangerous
jinja2
joblib
kiwisolver
langchain
langchain-community
langchain-core
markupsafe
matplotlib
nltk
numpy
packaging
pandas
pillow
plotly
protobuf
pyarrow
pydantic
pydantic-settings
pygments
python-dotenv
python-multipart
pyyaml
redis
regex
requests
sacremoses
safetensors
scikit-learn
sentence-transformers
sentencepiece
six
spacy
sqlalchemy
starlette
tenacity
textblob
tokenizers
torch
tqdm
transformers
typing-extensions
urllib3
uvicorn
uvicorn[standard]
uvloop
vaderSentiment
zipp